# Compiled class file
*.class

# Log file
*.log
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.idea
.iml
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/build/
nbproject/build-impl.xml
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/private.properties
nbproject/project.properties
*.xml
*.xml
*.xml
*.mf
nbproject
nbproject/project.properties
*.properties
nbproject/private/private.xml
*.xml
nbproject/genfiles.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/build-impl.xml~
/dist/
./idea/
.idea/dictionaries
